li {
    list-style-type: none;
}
/* .first{
    margin-left: 100px;
    } */
.search {
    margin-left: 30px;
}
.bussines:hover {
    background-color: #6c757d;
    color: red;
}
.Product li:hover i{
    margin-left: 8px;
    transition: all ease 400ms 0s;
}
.Product {
    width: 350px;
}
.Design::after{
    content: "";
    transition: all 300ms ease 0s;
    width: 100%;
    height: 2px;
    background-color: lightblue;
    display: block;
    transform-origin: center;
    transform: scaleX(0);
}
.Design:hover::after{
    transform: scaleX(1);
}
.Design:hover{
    color: lightblue;
}
.crosal{
    width: 695px;
}
/* .corsal{
    background-image: url("../images/ps.jpg");
} */
.last{
    color: gray;
}
.kara{
    background-color: #656565;
    height: 74px
}
.late{
    border-right: 2px solid black;
    line-height: 74px;
}
.opas{
    cursor: pointer;
}
.opas:hover{
    opacity: 0.5;
    transition: all ease 700ms 0s;
}
.culsum{
    color: #b62d76;
}

/* .line:hover::after{
    width: 100%;
    height: 1px;
    content: "";
    background-color: red;
    display: block;
} */
 .icons{
    font-size: 80px;
    margin-left: 10px;
 }
 .notice:hover{
    opacity: 0.6;
    color: white;
 }
 .space{
    cursor: pointer;
 }
 .dates{
    cursor: pointer;
 }
.lastline{
    width: 1200px;
}
.mother{
    width: 100%;
     background-color: #efefef;
 }
@media all and (max-width: 575px) {
    .kara{
        height: 100px;
    }
    .news{
        position: relative;
        right: 120px;
    }
}
@media all and (min-width: 576px) and (max-width: 767px) {
    .kara{
        height: 100px;
    }
    .pics{
        width: 600px;
    }
    .love{
        width: 450px;
    }
    .news{
        position: relative;
        right: 220px;
    }
}
@media all and (min-width: 768px) and (max-width: 991px) {
    .heading{
        margin-left: auto;
        margin-right: auto;
        width: 850px;
    }
    .pics{
        width: 500px;
    }
    .love{
        width: 450px;
    }
    .news{
        right: 220px;
    }
    
}
@media all and (min-width: 992px) and (max-width: 1199px) {
    .heading{
        margin-left: auto;
        margin-right: auto;
        width: 850px;
    }
    .pics{
        width: 500px;
    }
    .love{
        width: 450px;
    }
    .icons{
    right: 200px;
    }
    .media{
        right: 350px;
    }
    .news{
        right: 420px;
    }
    .space1{
        right: 160px;
     }
    .space2{
        right: 258px;
     }
     .space3{
        right: 290px;
     }
     .space4{
        right: 145px;
     }
     .space5{
        right: 180px;
     }
}
@media all and (min-width: 1200px) and (max-width: 1399px) {
    .heading{
        margin-left: auto;
        margin-right: auto;
        width: 850px;
    }
    .pics{
        width: 500px;
    }
    .love{
        width: 450px;
    }
    .icons{
    right: 200px;
    }
    .media{
        right: 350px;
    }
    .news{
        right: 520px;
    }
    .space1{
        right: 200px;
     }
     .space2{
        right: 297px;
     }
     .space3{
        right: 330px;
     }
     .space4{
        right: 185px;
     }
     .space5{
        right: 215px;
     }
}
@media all and (min-width: 1400px) {
    .heading{
        margin-left: auto;
        margin-right: auto;
        width: 850px;
    }
    .pics{
        width: 600px;
    }
    .love{
        width: 550px;
    }
    .icons{
        right: 300px;
    }
    .media{
        right: 450px;
    }
    .news{

        right: 520px;
    }
    .space1{
        right: 200px;
     }
     .space2{
        right: 297px;
     }
     .space3{
        right: 330px;
     }
     .space4{
        right: 185px;
     }
     .space5{
        right: 215px;
     }
}