li {
    list-style-type: none;
}
/* .first{
    margin-left: 100px;
    } */
.search {
    margin-left: 30px;
}
.bussines:hover {
    background-color: #6c757d;
    color: red;
}
.Product li:hover i{
    margin-left: 8px;
    transition: all ease 400ms 0s;
}
.Product {
    width: 350px;
}
.Design::after{
    content: "";
    transition: all 300ms ease 0s;
    width: 100%;
    height: 2px;
    background-color: lightblue;
    display: block;
    transform-origin: center;
    transform: scaleX(0);
}
.Design:hover::after{
    transform: scaleX(1);
}
.Design:hover{
    color: lightblue;
}
.crosal{
    width: 695px;
}
/* .corsal{
    background-image: url("../images/ps.jpg");
} */
.last{
    color: gray;
}
.kara{
    background-color: #656565;
    height: 74px
}
.late{
    border-right: 2px solid black;
    line-height: 74px;
}
.result{
    margin-left: 30px;
}
.uni{
    width: 1200px;
    height: 800px;
}

@media all and (max-width: 575px) {
    .kara{
        height: 100px;
    }
}
@media all and (min-width: 576px) and (max-width: 767px) {
    .kara{
        height: 100px;
    }
}
@media all and (min-width: 768px) and (max-width: 991px) {
    .heading{
        margin-left: auto;
        margin-right: auto;
        width: 850px;
    }
    .pics{
        width: 500px;
    }
    .love{
        width: 600px;
    }
    
}
@media all and (min-width: 992px) and (max-width: 1199px) {
    .heading{
        margin-left: auto;
        margin-right: auto;
        width: 850px;
    }
    .pics{
        width: 500px;
    }
    .love{
        width: 600px;
    }
}
@media all and (min-width: 1200px) and (max-width: 1399px) {
    .heading{
        margin-left: auto;
        margin-right: auto;
        width: 850px;
    }
    .pics{
        width: 500px;
    }
    .love{
        width: 600px;
    }
}
@media all and (min-width: 1400px) {
    .heading{
        margin-left: auto;
        margin-right: auto;
        width: 850px;
    }
    .pics{
        width: 500px;
    }
    .love{
        width: 600px;
    }
}
